<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    
  </div>
  <ul>
    <li *ngFor="let item of users | async">
      {{ item.nick }}
    </li>
  </ul>
  {{ (user | async)?.name }}
  {{ (authUser | async)?.email }}
  {{ (email | async) }}

  <ion-button expand="full" (click)="navTo('login')">Login</ion-button>
  
</ion-content>
